body {
    background-color: #001420; 
    color: #fff;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.nav {
    display: flex;
    justify-content: center;
    min-height: 20vh;
}
.nav img {
    width: 200px;
    height: 200px;
}

/* Body */
h1 {
    font-size: 3em;
    background: -webkit-linear-gradient(#B28A33, #D9C562);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.coming_soon {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer CSS */
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 18vh;
}

/* Mobile media query */

@media only screen and (max-width: 600px) {
   .container h1 {
       font-size: 1em;
   }
   section.qr_codes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }
    img.logo {
        width: 150px;
        height: 150px;
    }
    img.qr_image {
        width: 100px;
        height: 100px;
        margin-bottom: 1em;
    }
}

@media only screen and (min-width: 800px) {
    section.qr_codes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 8em;
    }
}