* {
    box-sizing: border-box;
}
body {
    background-color: #001420; 
    color: #fff;
    padding: 1em;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0% !important;
}
.container {
    display:  flex;
    align-items:  baseline;
    flex-wrap:  wrap;
    justify-content: center;
    min-height:  80vh;
    border:  2px solid darkgoldenrod;
}

.text {
    display:  block;
    order: 1;
    min-height: 20vh;
    border: 2px solid mediumspringgreen;
}

.box {
    flex: 1 1 50%;
    justify-content:  center;
    display:  flex;
}

.fab {
    font-size: 7em;
}

.fab facebook {
    display: flex;
    flex-direction: column;
    -moz-box-flexgroup: 1;
    -ms-flex-direction: flex;
}
